# Import Packages

In [1]:
import pandas as pd
import numpy as np

# Import Data

In [2]:
df = pd.read_csv('kc_house_data.csv')

# Check Data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     21597 non-null  int64
 9   view           21597 non-null  int64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  int64
 14  yr_built       21597 non-null  int64
 15  yr_renovated   21597 non-null  int64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

# Check for Missing Values

In [4]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

# Define Target/X Features

In [5]:
numerical_features = df.drop(['id','price','date'], axis = 1).select_dtypes(include = 'number').columns.tolist()
numerical_features

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [6]:
y = df['price']
X = df[numerical_features]

# Build Model

In [7]:
# Import Package
from sklearn.linear_model import LinearRegression

In [8]:
# Create an Instance
lr = LinearRegression()

In [9]:
# Fit Model
lr.fit(X, y)

LinearRegression()

In [13]:
# Make Predicitons
y_pred = lr.predict(X)

# Performance

In [14]:
# Import metrics packages
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_percentage_error

In [15]:
print(r2_score(y, y_pred))
print(mean_squared_error(y, y_pred))
print(mean_squared_error(y, y_pred, squared=False))
print(mean_absolute_percentage_error(y, y_pred))

0.7001341833975063
40467821947.024635
201166.1550734234
0.2554946318646629